.scene {
  width: 300px;
  height: 300px;
  perspective: 700px;
  position: absolute;
  bottom: 100px;
  left: 250px;
  cursor: pointer;
}

.box {
  width: 300px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
  cursor: pointer;
}

.box__face {
  position: absolute;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.45);
  font-size: 20px;
  color: white;
  text-align: center;
}

.box__face--front,
.box__face--back {
  width: 300px;
  height: 50px;
  line-height: 50px;
  color: #1b242f;
}

.box__face--right,
.box__face--left {
  width: 90px;
  height: 50px;
  left: 100px;
  line-height: 50px;
  color: #1b242f;
}

.box__face--top,
.box__face--bottom {
  width: 300px;
  height: 90px;
  top: 50px;
  line-height: 100px;
  color: #1b242f;
}

.box__face--front {
  background: url("../img/wooden-texture.png");
}
.box__face--right {
  background: url("../img/wooden-texture.png");
}
.box__face--back {
  background: url("../img/wooden-texture.png");
}
.box__face--left {
  background: url("../img/wooden-texture.png");
}
.box__face--top {
  background: url("../img/wooden-texture.png");
}
.box__face--bottom {
  background: url("../img/wooden-texture.png");
}

.box__face--front {
  transform: rotateY(0deg) translateZ(50px);
}
.box__face--back {
  transform: rotateY(180deg) translateZ(40px);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(155px) translateX(-5px);
}
.box__face--left {
  transform: rotateY(-90deg) translateZ(145px) translateX(5px);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(95px) translateY(5px);
}
.box__face--bottom {
  transform: rotateX(-90deg) translateZ(-45px) translateY(-5px);
}

.box1 {
  transform: translateY(250px) translateX(-100px) rotateY(-30deg);
}
.box2 {
  transform: translateY(50px) translateZ(-90px) translateX(-50px)
    rotateY(-30deg);
  z-index: -1;
}
.box3 {
  transform: translateY(-150px) translateZ(-180px) translateX(0px)
    rotateY(-30deg);
  z-index: -2;
}

.box4 {
  transform: translateY(-395px) translateX(35px) translateZ(-85px)
    rotateY(61deg);
  z-index: 4;
}
.box5 {
  transform: translateY(-594.5px) translateX(-58px) translateZ(-140px)
    rotateY(61deg);
  z-index: 3;
}
.box6 {
  transform: translateY(-794px) translateX(-150px) translateZ(-195px)
    rotateY(61deg);
  z-index: 2;
}

.box7 {
  transform: translateY(-1048px) translateX(-100px) rotateY(-30deg);
  z-index: 7;
}
.box8 {
  transform: translateY(-1248px) translateZ(-90px) translateX(-50px)
    rotateY(-30deg);
  z-index: 6;
}
.box9 {
  transform: translateY(-1448px) translateZ(-180px) translateX(0px)
    rotateY(-30deg);
  z-index: 5;
}
.box10 {
  transform: translateY(-1697px) translateX(-150px) translateZ(-195px)
    rotateY(61deg);
  z-index: 2;
}
.box11 {
  transform: translateY(-1897px) translateX(-58px) translateZ(-140px)
    rotateY(61deg);
  z-index: 3;
  transition: 0.7s ease;
}
@keyframes box11-animation {
  0% {
    transform: translateY(-2150px) translateX(-50px) translateZ(-140px)
      rotateY(61deg) rotateX(0deg);
  }
  25% {
    transform: translateY(-2150px) translateX(-50px) translateZ(-140px)
      rotateY(181deg) rotateX(50deg);
  }
  75% {
    transform: translateY(-2150px) translateX(-50px) translateZ(-140px)
      rotateY(301deg) rotateX(-20deg);
  }
  100% {
    transform: translateY(-2150px) translateX(-50px) translateZ(-140px)
      rotateY(421deg) rotateX(0deg);
  }
}

@keyframes box10-animation {
  0% {
    transform: translateY(-1900px) translateX(-190px) translateZ(-195px)
      rotateY(61deg) rotateZ(0deg);
  }
  25% {
    transform: translateY(-1900px) translateX(-190px) translateZ(-195px)
      rotateY(181deg) rotateZ(-30deg);
  }
  75% {
    transform: translateY(-1900px) translateX(-190px) translateZ(-195px)
      rotateY(301deg) rotateZ(40deg);
  }
  100% {
    transform: translateY(-1900px) translateX(-190px) translateZ(-195px)
      rotateY(421deg) rotateZ(0deg);
  }
}

@keyframes box9-animation {
  0% {
    transform: translateY(-1650px) translateZ(-180px) translateX(50px)
      rotateY(-30deg) rotateX(0deg);
  }
  25% {
    transform: translateY(-1650px) translateZ(-180px) translateX(50px)
      rotateY(-150deg) rotateX(-15deg);
  }
  75% {
    transform: translateY(-1650px) translateZ(-180px) translateX(50px)
      rotateY(-270deg) rotateX(15deg);
  }
  100% {
    transform: translateY(-1650px) translateZ(-180px) translateX(50px)
      rotateY(-390deg) rotateX(0deg);
  }
}

@keyframes box8-animation {
  0% {
    transform: translateY(-1350px) translateZ(-90px) translateX(120px)
      rotateY(-30deg) rotateX(0deg);
  }
  25% {
    transform: translateY(-1350px) translateZ(-90px) translateX(120px)
      rotateY(-150deg) rotateZ(-20deg);
  }
  75% {
    transform: translateY(-1350px) translateZ(-90px) translateX(120px)
      rotateY(-270deg) rotateZ(30deg);
  }
  100% {
    transform: translateY(-1350px) translateZ(-90px) translateX(120px)
      rotateY(-390deg) rotateZ(0deg);
  }
}

@keyframes box7-animation {
  0% {
    transform: translateY(-1170px) translateX(-230px) rotateY(-30deg)
      rotateX(0deg);
  }
  25% {
    transform: translateY(-1170px) translateX(-230px) rotateY(-150deg)
      rotateX(-20deg);
  }
  75% {
    transform: translateY(-1170px) translateX(-230px) rotateY(-270deg)
      rotateX(40deg);
  }
  100% {
    transform: translateY(-1170px) translateX(-230px) rotateY(-390deg)
      rotateX(0deg);
  }
}

@keyframes box6-animation {
  from {
    transform: translateY(-950px) translateX(-80px) translateZ(-195px)
      rotateY(61deg);
  }
  to {
    transform: translateY(-950px) translateX(-80px) translateZ(-195px)
      rotateY(421deg);
  }
}

@keyframes box5-animation {
  0% {
    transform: translateY(-660px) translateX(-170px) translateZ(-140px)
      rotateY(61deg) rotateX(0deg);
  }
  25% {
    transform: translateY(-660px) translateX(-170px) translateZ(-140px)
      rotateY(142deg) rotateX(20deg);
  }
  75% {
    transform: translateY(-660px) translateX(-170px) translateZ(-140px)
      rotateY(101deg) rotateX(-20deg);
  }
  100% {
    transform: translateY(-660px) translateX(-170px) translateZ(-140px)
      rotateY(61deg) rotateX(0deg);
  }
}

@keyframes box4-animation {
  0% {
    transform: translateY(-450px) translateX(70px) translateZ(-85px)
      rotateY(61deg) rotateX(0deg);
  }
  25% {
    transform: translateY(-450px) translateX(70px) translateZ(-85px)
      rotateY(181deg) rotateX(50deg);
  }
  75% {
    transform: translateY(-450px) translateX(70px) translateZ(-85px)
      rotateY(301deg) rotateX(-20deg);
  }
  100% {
    transform: translateY(-450px) translateX(70px) translateZ(-85px)
      rotateY(421deg) rotateX(0deg);
  }
}

@keyframes box11-anim-end {
  from {
    transform: translateY(-2150px) translateX(-50px) translateZ(-140px)
      rotateY(61deg) rotateX(0deg);
  }
  to {
    transform: translateY(-1897px) translateX(-58px) translateZ(-140px)
      rotateY(61deg);
  }
}

@keyframes box10-anim-end {
  from {
    transform: translateY(-1900px) translateX(-190px) translateZ(-195px)
      rotateY(61deg) rotateZ(0deg);
  }
  to {
    transform: translateY(-1697px) translateX(-150px) translateZ(-195px)
      rotateY(61deg);
  }
}

@keyframes box9-anim-end {
  from {
    transform: translateY(-1650px) translateZ(-180px) translateX(50px)
      rotateY(-30deg) rotateZ(0deg);
  }
  to {
    transform: translateY(-1448px) translateZ(-180px) translateX(0px)
      rotateY(-30deg);
  }
}

@keyframes box8-anim-end {
  from {
    transform: translateY(-1350px) translateZ(-90px) translateX(120px)
      rotateY(-30deg) rotateX(0deg);
  }
  to {
    transform: translateY(-1248px) translateZ(-90px) translateX(-50px)
      rotateY(-30deg);
  }
}

@keyframes box7-anim-end {
  from {
    transform: translateY(-1170px) translateX(-230px) rotateY(-30deg)
      rotateZ(0deg);
  }
  to {
    transform: translateY(-1048px) translateX(-100px) rotateY(-30deg);
    z-index: 7;
  }
}

@keyframes box6-anim-end {
  from {
    transform: translateY(-950px) translateX(-80px) translateZ(-195px)
      rotateY(61deg) rotateX(0deg);
  }
  to {
    transform: translateY(-794px) translateX(-150px) translateZ(-195px)
      rotateY(61deg);
  }
}

@keyframes box5-anim-end {
  from {
    transform: translateY(-680px) translateX(-150px) translateZ(-140px)
      rotateY(61deg) rotateX(0deg);
  }
  to {
    transform: translateY(-594.5px) translateX(-58px) translateZ(-140px)
      rotateY(61deg);
  }
}

@keyframes box4-anim-end {
  from {
    transform: translateY(-450px) translateX(70px) translateZ(-85px)
      rotateY(61deg) rotateX(0deg) rotateZ(0deg);
  }
  to {
    transform: translateY(-395px) translateX(35px) translateZ(-85px)
      rotateY(61deg);
  }
}

.box11.box-animation {
  transform: translateY(-2150px) translateX(-50px) translateZ(-140px)
    rotateY(61deg) rotateX(0deg);
  animation: box11-animation 20s linear infinite;
  animation-delay: 0.7s;
}
.box11.box-anim-end {
  animation: box11-anim-end 0.5s ease;
}

.box10.box-animation {
  transform: translateY(-1900px) translateX(-190px) translateZ(-195px)
    rotateY(61deg) rotateZ(0deg);
  animation: box10-animation 20s linear infinite;
  animation-delay: 0.7s;
}
.box10.box-anim-end {
  animation: box10-anim-end 0.5s ease;
}

.box9.box-animation {
  transform: translateY(-1650px) translateZ(-180px) translateX(50px)
    rotateY(-30deg) rotateZ(0deg);
  animation: box9-animation 40s linear infinite;
  animation-delay: 0.7s;
}
.box9.box-anim-end {
  animation: box9-anim-end 0.5s ease;
}

.box8.box-animation {
  transform: translateY(-1350px) translateZ(-90px) translateX(120px)
    rotateY(-30deg) rotateX(0deg);
  animation: box8-animation 20s linear infinite;
  animation-delay: 0.7s;
}
.box8.box-anim-end {
  animation: box8-anim-end 0.5s ease;
}

.box7.box-animation {
  transform: translateY(-1170px) translateX(-230px) rotateY(-30deg)
    rotateZ(0deg);
  animation: box7-animation 20s linear infinite;
  animation-delay: 0.7s;
}
.box7.box-anim-end {
  animation: box7-anim-end 0.5s ease;
}

.box6.box-animation {
  transform: translateY(-950px) translateX(-80px) translateZ(-195px)
    rotateY(61deg) rotateX(0deg);
  animation: box6-animation 20s linear infinite;
  animation-delay: 0.7s;
}
.box6.box-anim-end {
  animation: box6-anim-end 0.5s ease;
}

.box5.box-animation {
  transform: translateY(-660px) translateX(-170px) translateZ(-140px)
    rotateY(61deg) rotateX(0deg);
  animation: box5-animation 10s linear infinite;
  animation-delay: 0.7s;
}
.box5.box-anim-end {
  animation: box5-anim-end 0.5s ease;
}

.box4.box-animation {
  transform: translateY(-450px) translateX(70px) translateZ(-85px)
    rotateY(61deg) rotateX(0deg) rotateZ(0deg);
  animation: box4-animation 20s linear infinite;
  animation-delay: 0.7s;
}
.box4.box-anim-end {
  animation: box4-anim-end 0.5s ease;
}

@media only screen and (max-width: 1150px) {
  .scene {
    left: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .scene {
    left: 170px;
  }
}
@media only screen and (max-width: 600px) {
  .scene {
    transform: scale(0.7);
    left: 80px;
    bottom: 0;
  }
  .about-bottomRight {
    height: 400px;
  }
}
